<div style="display: flex;align-items: center;font-size: 15px;border-bottom: 1px dashed gray;padding-bottom: 4px;">

    <span style=" margin-right: 10px;">पूर्ण होने पर चिह्नित करें</span> 
    <input type="checkbox" style="position: relative;right: 0;top: 0;" name="" id="completedCheck">
    <div id="saveShlok" style="margin-left: auto;display: flex;align-items: center;">
        
श्लोक सेव करें &nbsp;&nbsp; <input  type="checkbox" name="" id="saveCheck">
    </div>
</div>