<div style="background-color: white;height: 20px;display: flex;">
    <div id="completedData" style="text-align: center;padding-left: 3px;padding-right: 3px;background-color: yellow;">0/700</div>
    <div style="width: 0%;height: 100%;background-color: red; text-align: center;display: flex;align-items: center;justify-content: center;color: black;" id="progressBar">  </div>

</div>
<div id="extra2bottom" style="display: flex;align-items:center;background-color: aqua; font-size: 12px;padding-right: 5px;padding-left: 5px;">
    <div id="pageInfo" >
  
    </div>
    <div style="margin-left: auto;">
        <a href="../../completedVerses.html">Completed Shloks</a> | <a href="../../savedVerses.html">Saved Shloks</a>
    </div>
</div>
