<style>
    #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  user-select: none;
}

#myBtn:hover {
  background-color: #555;
}
</style>
<p style="width: 100%;">
  &copy;copyright 2023 | krsnaa.netlify.app <br> हरे कृष्ण हरे कृष्ण कृष्ण कृष्ण हरे हरे। हरे राम हरे राम राम राम हरे हरे॥
</p>
<button id="myBtn" title="Go to top">Top</button>
