<img src="../../images/krsna2.jpg" style="height:100%;border-radius: 50%;" alt="">
&nbsp;&nbsp;
<h6 onclick="location.href='/'" style="cursor: pointer;" id="heading"> </h6>

<input type="range" id="fontSizeRange" min="13" max="30">

